body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

#game-board {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
}

button {
    margin-top: 20px;
}

#game-screen, #stats-screen {
    display: none;
}

#stats-list {
    list-style-type: none;
    padding: 0;
}

h1, h2 {
    text-align: center;
}
