body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(200, 193, 193);
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
}

.squere {
    position: absolute;
    display: flex;
    width: 350px;
    height: 350px;
    background-color: black;
    top: 50px;
    left: 50px;
    z-index: 2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.squere1 {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: rgb(200, 193, 193);
    top: 50px;
    left: 50px;
}

.weather {
    position: relative;
    background-color: lightgray;


    width: 350px;
    height: 200px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    top: 20px;
    left: -280px;
    z-index: 1;
    display: inline;
}

.weather-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 100px;
}

.day {
    color: gray;
}

.num {
    position: relative;
    top: 170px;
}

.day {
    font-size: 20px;
    font-weight: bold;
}

.temperature {
    font-size: 16px;
    font-weight: bold;
}

h1 {
    color: gray;
    font-size: 100px;
}

img {
    width: 350px;
    height: 200px;
}

.cloud {
    position: relative;
    top: -150px;
    left: 50px;
    z-index: 4;
}